@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Indie+Flower&display=swap");

body {
  font-family: "Cutive Mono", monospace;
}

.smaller-input {
  font-size: 12px;
  padding: 2px 5px;
}

.background-lightseagreen {
  background-color: #e6fff3;
}

.background-lightblue {
  background-color: lightblue;
}
